# Data Import & Preprocessing

In [1]:
!pip install feature_engine
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from feature_engine.creation import CyclicalFeatures
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, ConstantKernel
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import warnings
import plotly.graph_objects as go
from scipy.spatial.distance import pdist, cdist, squareform
from scipy.linalg import cholesky, cho_solve
import math
warnings.filterwarnings(action='ignore')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     |████████████████████████████████| 290 kB 5.2 MB/s
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (1.7.3)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature_engine) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature_engine) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.5.2

In [2]:
fileName = "/content/sample_data/Dataset.xlsx"
df_Labels = pd.read_excel(fileName, sheet_name="Plant_1_Data")
df_Labels = df_Labels.drop(['PLANT_ID'], axis=1)
df_Labels["DATE_TIME"] = pd.to_datetime(df_Labels.DATE_TIME)
df_Features = pd.read_excel(fileName, sheet_name="Plant_1_Sensor_Data")
df_Features = df_Features.drop(['PLANT_ID','SOURCE_KEY'], axis=1)
df_Features['DATE_TIME'] = pd.to_datetime(df_Features.DATE_TIME)
print(df_Features.head())

            DATE_TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
0 2020-05-15 00:00:00            25.184316           22.857507          0.0
1 2020-05-15 00:15:00            25.084589           22.761668          0.0
2 2020-05-15 00:30:00            24.935753           22.592306          0.0
3 2020-05-15 00:45:00            24.846130           22.360852          0.0
4 2020-05-15 01:00:00            24.621525           22.165423          0.0

In [3]:
df_Learn = pd.merge(df_Features, df_Labels, how='inner', left_on = ['DATE_TIME'], right_on = ['DATE_TIME'])

In [4]:
X = df_Learn.drop(['DC_POWER', 'AC_POWER', 'DAILY_YIELD', 'TOTAL_YIELD'], axis = 1)
X['hour'] = X['DATE_TIME'].dt.hour
X['min'] = X['DATE_TIME'].dt.minute
X = X.drop(['DATE_TIME'], axis = 1)
y = np.log(df_Learn['DC_POWER'] + 1)
display(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
cols_to_scale = ['AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION']
scaler = StandardScaler()
scaler.fit(X_train[cols_to_scale])
X_train[cols_to_scale] = scaler.transform(X_train[cols_to_scale])
X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])
display(X_train)

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour,min
0,25.184316,22.857507,0.0,1BY6WEcLGh8j5v7,0,0
1,25.184316,22.857507,0.0,1IF53ai7Xc0U56Y,0,0
2,25.184316,22.857507,0.0,3PZuoBAID5Wc2HD,0,0
3,25.184316,22.857507,0.0,7JYdWkrLSPkdwr4,0,0
4,25.184316,22.857507,0.0,McdE0feGgRqW7Ca,0,0
...,...,...,...,...,...,...
45675,21.909288,20.427972,0.0,uHbuxQJl8lW7ozc,23,45
45676,21.909288,20.427972,0.0,wCURE6d3bPkepu2,23,45
45677,21.909288,20.427972,0.0,z9Y9gH1T5YWrNuG,23,45
45678,21.909288,20.427972,0.0,zBIq5rxdHJRwDNY,23,45
45679,21.909288,20.427972,0.0,zVJPv84UY57bAof,23,45

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour,min
31161,-0.670111,-0.793333,-0.772531,1IF53ai7Xc0U56Y,1,45
43720,-0.883306,-0.822172,-0.772531,zBIq5rxdHJRwDNY,1,0
14303,1.518744,1.818756,1.887604,uHbuxQJl8lW7ozc,13,0
21089,-0.240173,-0.540894,-0.772531,ZoEaEvLYb1n2sOq,21,30
20303,1.794998,2.120042,2.383081,rGa61gmuvPhdLxV,12,30
...,...,...,...,...,...,...
11284,1.576698,1.931014,2.173641,sjndEbLyjtCKgGv,13,15
44732,0.748897,0.922154,0.825447,zBIq5rxdHJRwDNY,13,0
38158,0.123579,0.902551,1.139332,3PZuoBAID5Wc2HD,10,0
860,0.763700,1.636051,1.416952,1BY6WEcLGh8j5v7,10,0
15795,-0.029400,0.927513,1.151971,ZoEaEvLYb1n2sOq,8,30

# Feature Manipulation

In [5]:
cyclical = CyclicalFeatures(variables=['hour', 'min'], drop_original=True)
display(X_train)
cyclical.fit(X_train)
X_train = cyclical.transform(X_train)
X_test = cyclical.transform(X_test)

display(X_train, y_train)

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour,min
31161,-0.670111,-0.793333,-0.772531,1IF53ai7Xc0U56Y,1,45
43720,-0.883306,-0.822172,-0.772531,zBIq5rxdHJRwDNY,1,0
14303,1.518744,1.818756,1.887604,uHbuxQJl8lW7ozc,13,0
21089,-0.240173,-0.540894,-0.772531,ZoEaEvLYb1n2sOq,21,30
20303,1.794998,2.120042,2.383081,rGa61gmuvPhdLxV,12,30
...,...,...,...,...,...,...
11284,1.576698,1.931014,2.173641,sjndEbLyjtCKgGv,13,15
44732,0.748897,0.922154,0.825447,zBIq5rxdHJRwDNY,13,0
38158,0.123579,0.902551,1.139332,3PZuoBAID5Wc2HD,10,0
860,0.763700,1.636051,1.416952,1BY6WEcLGh8j5v7,10,0
15795,-0.029400,0.927513,1.151971,ZoEaEvLYb1n2sOq,8,30

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour_sin,hour_cos,min_sin,min_cos
31161,-0.670111,-0.793333,-0.772531,1IF53ai7Xc0U56Y,0.269797,0.962917,-2.449294e-16,1.0
43720,-0.883306,-0.822172,-0.772531,zBIq5rxdHJRwDNY,0.269797,0.962917,0.000000e+00,1.0
14303,1.518744,1.818756,1.887604,uHbuxQJl8lW7ozc,-0.398401,-0.917211,0.000000e+00,1.0
21089,-0.240173,-0.540894,-0.772531,ZoEaEvLYb1n2sOq,-0.519584,0.854419,-8.660254e-01,-0.5
20303,1.794998,2.120042,2.383081,rGa61gmuvPhdLxV,-0.136167,-0.990686,-8.660254e-01,-0.5
...,...,...,...,...,...,...,...,...
11284,1.576698,1.931014,2.173641,sjndEbLyjtCKgGv,-0.398401,-0.917211,8.660254e-01,-0.5
44732,0.748897,0.922154,0.825447,zBIq5rxdHJRwDNY,-0.398401,-0.917211,0.000000e+00,1.0
38158,0.123579,0.902551,1.139332,3PZuoBAID5Wc2HD,0.398401,-0.917211,0.000000e+00,1.0
860,0.763700,1.636051,1.416952,1BY6WEcLGh8j5v7,0.398401,-0.917211,0.000000e+00,1.0
15795,-0.029400,0.927513,1.151971,ZoEaEvLYb1n2sOq,0.816970,-0.576680,-8.660254e-01,-0.5

31161    0.000000
43720    0.000000
14303    9.138860
21089    0.000000
20303    9.443068
           ...
11284    9.418736
44732    8.812865
38158    9.096355
860      8.701076
15795    8.956383
Name: DC_POWER, Length: 41112, dtype: float64

# Model Training

In [6]:
X_train = X_train.drop(['SOURCE_KEY'], axis=1)
X_test = X_test.drop(['SOURCE_KEY'], axis=1)
kern = ConstantKernel(constant_value=1.0, constant_value_bounds=(0.0, 10.0)) * RBF(length_scale=0.5, length_scale_bounds=(0.0, 10.0)) + RBF(length_scale=2.0, length_scale_bounds=(0.0, 10.0))
kern = RBF(length_scale=0.5, length_scale_bounds=(0.0, 10.0)) + RBF(length_scale=2.0, length_scale_bounds=(0.0, 10.0))
gaussian_process_regr_model = GaussianProcessRegressor(alpha=0.001, optimizer='fmin_l_bfgs_b', n_restarts_optimizer=0, normalize_y=False, copy_X_train=False, random_state=42)
default_model = GaussianProcessRegressor(kernel=None, alpha=1e-10, optimizer='fmin_l_bfgs_b', n_restarts_optimizer=0, normalize_y=False, copy_X_train=True, random_state=None)
gaussian_process_regr_model.fit(X_train[:5000], y_train[:5000])
default_model.fit(X_train[:5000], y_train[:5000])
y_pred = gaussian_process_regr_model.predict(X_test)
y_pred_def = default_model.predict(X_test)
print("Score for default method: " + str(default_model.score(X_test, y_test)))
print("Score for proposed method: " + str(gaussian_process_regr_model.score(X_test, y_test)))

Score for default method: 0.8028650557507933
Score for proposed method: 0.9916079100218469

In [7]:
vals = pd.DataFrame([[pd.to_datetime('2020-05-15 12:30:00'), '32.14768473',	'52.35325513',	'0.6492476293', 'HmiyD2TTLFNqkNe']], columns=('DATE_TIME', 'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION', 'SOURCE_KEY'))
vals['hour'] = vals['DATE_TIME'].dt.hour
vals['min'] = vals['DATE_TIME'].dt.minute
vals = vals.drop(['DATE_TIME'], axis = 1)
display(vals)
vals[cols_to_scale] = scaler.transform(vals[cols_to_scale])
#display(vals)
vals = cyclical.transform(vals)
predicted_value = np.exp(gaussian_process_regr_model.predict(vals.drop(['SOURCE_KEY'], axis = 1))) - 1
if predicted_value < 0:
  predicted_value = 0.0
display("DC_POWER Prediction for sample: " + str(predicted_value))

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour,min
0,32.14768473,52.35325513,0.6492476293,HmiyD2TTLFNqkNe,12,30

'DC_POWER Prediction for sample: [9056.25417451]'

In [8]:
pred = default_model.predict(X_test)
pred[pred < 0] = 0.0
mae = mean_absolute_error(y_test, pred)
print("Mean Absolute Error for default method: "+ str(mae))

pred = gaussian_process_regr_model.predict(X_test)
pred[pred < 0] = 0.0
mae = mean_absolute_error(y_test, pred)
print("Mean Absolute Error for proposed method: "+ str(mae))

Mean Absolute Error for default method: 0.2316812353911431
Mean Absolute Error for proposed method: 0.14267250643414806

# Significance Tests
Two tailed Student-T Test for y_test and pred with the number of samples in each being 4568 at a 95% significance level. We choose the T Test since population variance is unknown.

In [9]:
display("Size of samples: " + str(len(y_test)))
#Variance check for two tailed test
display("Variance of Predicted Samples: " + str(np.var(np.exp(pred) - 1)), "Variance of Ground Truth: " + str(np.var(np.exp(y_test)) - 1))

#Ratio
display("Ratio to check for nearly equal Variance: " + str(np.var(pred)/np.var(y_test)))

'Size of samples: 4568'

'Variance of Predicted Samples: 16541449.259627415'

'Variance of Ground Truth: 16790436.655372243'

'Ratio to check for nearly equal Variance: 0.9822293073050847'

In [10]:
#T-Test
pred1 = default_model.predict(X_test)
tstat, t_pval = stats.ttest_ind(a=pred1, b=y_test, equal_var=True)
display("T-Statistic for default method: " + str(tstat.round(3)), "PValue: " + str(t_pval.round(3)))

pred2 = gaussian_process_regr_model.predict(X_test)
tstat, t_pval = stats.ttest_ind(a=pred2, b=y_test, equal_var=True)
display("T-Statistic for proposed method: " + str(tstat.round(3)), "PValue: " + str(t_pval.round(3)))

'T-Statistic for default method: 0.602'

'PValue: 0.547'

'T-Statistic for proposed method: -0.14'

'PValue: 0.889'

With such a high P-value >> α=0.025, we cannot reject the null hypothesis, the means of the two samples are equal.

In [11]:
class GPR:
  def __init__(self, length_scale=1):
    self.length_scale = length_scale
    self.kernel = rbf_kernel

  def fit(self, X, y):
    self.kern = self.kernel(i=X, length_scale=self.length_scale)
    lower = True
    L = cholesky(self.kern, lower=True)
    self.alpha = cho_solve((L, lower), y)
    self.X_train = X
    self.L = L

  def predict(self, X):
    K_star = self.kernel(X, self.X_train, length_scale=self.length_scale)
    y_mean = K_star.dot(self.alpha)
    lower = True
    v = cho_solve((self.L, lower), K_star.T)
    y_cov = self.kernel(X, length_scale=self.length_scale) - K_star.dot(v)
    return y_mean

def rbf_kernel(i, j=None, length_scale=1):
  if j is None:
    dist = pdist(i/length_scale, metric="sqeuclidean")
    K = np.exp(-0.5 * dist)
    K = squareform(K)
    np.fill_diagonal(K, 1 + 3*math.e**(-7))
  else:
    dist = cdist(i/length_scale, j/length_scale, metric="sqeuclidean")
    K = np.exp(-0.5 * dist)
  return K

In [12]:
my_model = GPR()
my_model.fit(X_train[:20000], y_train[:20000])
my_pred = my_model.predict(X_test)
display(my_pred)

mae = mean_absolute_error(y_test, my_pred)
print("Mean Absolute Error for my method: "+ str(mae))

display("Size of samples: " + str(len(y_test)))
#Variance check for two tailed test
display("Variance of Predicted Samples: " + str(np.var(np.exp(my_pred) - 1)), "Variance of Ground Truth: " + str(np.var(np.exp(y_test)) - 1))

#Ratio
display("Ratio to check for nearly equal Variance: " + str(np.var(my_pred)/np.var(y_test)))

#T-Test
tstat, t_pval = stats.ttest_ind(a=my_pred, b=y_test, equal_var=True)
display("T-Statistic for my method: " + str(tstat.round(3)), "PValue: " + str(t_pval.round(3)))

array([7.14190759e+00, 3.04202192e-03, 9.13659041e+00, ...,
       3.47596590e-02, 8.62460953e+00, 6.91246934e+00])

Mean Absolute Error for my method: 0.14735848976078686

'Size of samples: 4568'

'Variance of Predicted Samples: 16121830.398851244'

'Variance of Ground Truth: 16790436.655372243'

'Ratio to check for nearly equal Variance: 0.9879308016082297'

'T-Statistic for my method: -0.168'

'PValue: 0.866'

In [13]:
vals = pd.DataFrame([[pd.to_datetime('2020-05-15 12:30:00'), '32.14768473',	'52.35325513',	'0.6492476293', 'HmiyD2TTLFNqkNe']], columns=('DATE_TIME', 'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION', 'SOURCE_KEY'))
vals['hour'] = vals['DATE_TIME'].dt.hour
vals['min'] = vals['DATE_TIME'].dt.minute
vals = vals.drop(['DATE_TIME'], axis = 1)
display(vals)
vals[cols_to_scale] = scaler.transform(vals[cols_to_scale])
vals = cyclical.transform(vals)
vals = vals.drop(['SOURCE_KEY'], axis = 1)
predicted_value = np.exp(my_model.predict(vals)) - 1
if predicted_value < 0:
  predicted_value = 0.0
display("DC_POWER Prediction for sample: " + str(predicted_value))

,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,SOURCE_KEY,hour,min
0,32.14768473,52.35325513,0.6492476293,HmiyD2TTLFNqkNe,12,30

'DC_POWER Prediction for sample: [8761.91780503]'